.input:focus {
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 2px solid red;
}

.errorInput:focus {
    outline: none;
}

.error {
    color: red;
}
