* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: blueviolet;
}

a:hover {
    color: deepskyblue;
    transition: 1s;
}
